/* stub */

html, body {
	margin: 0;
	padding: 0;
	color: white;
	background: black;
	
	font-family: "Helvetica", sans-serif;
}

a {
	font-weight: bold;
	text-decoration: none;
}
a:link {
	color: #d9d9d9;
	text-decoration: none;
}
a:active {
	color: white;
	text-decoration: none;
}
a:visited {
	color: #999999;
	text-decoration: none;
}

.bar-wrapper {
	height: 48px;
}

.bar {
	width: 100%;
	height: 48px;
	
	color: white;
	background: black;
	z-index: 99999;
}

.bar-float {
	position: fixed;
}

#top-bar.bar-float {
	top: 0;
}

#bottom-bar.bar-float  {
	bottom: 0;
}

#bottom-bar.inplace {
	position: relative;
	top: inherit;
}


.bar .detail {
	background-color: gray;
}

.bar button {
	width: 48px;
	height: 48px;
	padding: 0;
	padding-top: 24px;
	background-repeat: no-repeat;
	background-position: center 0px;
	background-color: transparent;
	/* background-image added per class */
	border: none;
	color: white;
	font-size: 11px;
}

.bar button:active {
	background-color: blue;
}

/* Magic sizing */
.bar-wrapper {
}
.bar {
	display: table;
}
.bar-stripe {
	display: table-row;
}
.bar-stripe > span {
	display: table-cell;
	vertical-align: middle;
	width: auto;
}
.stretch {
	width: 100%;
}

.search-box input {
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size: 16px;
	padding: 4px;
	padding-right: 16px;
	
	background-image: url(images/icons/athena_icon_999999_search.png);
	background-position: center right;
	background-repeat: no-repeat;

	width: 95%;
}

.button-main {
	background-image: url(images/icons/athena_icon_efefef_w.png);
}
.button-you {
	background-image: url(images/icons/athena_icon_efefef_user.png);
}
.button-article {
	background-image: url(images/icons/athena_icon_efefef_puzzle.png);
}
.button-history {
	background-image: url(images/icons/athena_icon_efefef_history.png);
}
.button-more {
	background-image: url(images/icons/athena_icon_efefef_more.png);
}
.button-discuss {
	background-image: url(images/icons/athena_icon_efefef_discussion.png);
}
.button-language {
	background-image: url(images/icons/athena_icon_efefef_globe.png);
}


.footer > div {
	padding: 4px 8px;
	font-size: 10px;
}

#embed {
	/*
	position: absolute;
	margin-top: 48px;
	margin-bottom: 48px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	*/
	overflow: hidden;
	border: none;
	color: black;
	background: white;
}


@media all and (max-width: 639px) {
	#personal-menu {
		display: none;
	}
	#master-menu {
		display: none;
	}
}

@media all and (min-width: 640px) {
	/* "Tablet mode" */
	#top-bar.bar-float {
		/* Disable top bar floater */
		top: inherit;
		position: relative;
	}
	#top {
		height: auto;
	}
	.bar button {
		width: auto;
		height: 48px;
		padding: 0;
		padding-left: 40px;
		padding-right: 8px;
		background-repeat: no-repeat;
		background-position: 8px center;
		background-color: transparent;
		/* background-image added per class */
		border: none;
		color: white;
		font-size: 13px;
	}
	#personal-menu, #master-menu {
		font-size: 12px;
	}
	#personal-menu {
		padding-top: 6px;
	}
	#personal-menu a {
		padding-right: 16px;
	}
	#master-menu {
		padding-bottom: 6px;
	}
	.button-you {
		display: none;
	}
}


