#magic-toc {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    background: #eee;
    border: solid 1px #bbb;
    
    box-shadow: inset 0 0 1em #aaa;
}

#magic-toc-trigger {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    width: 80px;
    height: 22px;
    
    text-align: center;
    padding-top: 8px;

    background: #eee;
    border: solid 1px #bbb;
}


@media only screen and (min-width: 720px) {

    #header,
    #content_wrapper,
    #footer {
        margin-left: 328px;
    }

    #magic-toc {
        display: block !important;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 320px;
    }

    #magic-toc-trigger {
        display: none;
    }
}
