#magic-toc {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    background: #eee;
    border: solid 1px #bbb;
    
     box-shadow: inset 0 0 1em #aaa;


}


@media only screen and (min-width: 720px) {

    #header,
    #content_wrapper,
    #footer {
        margin-left: 328px;
    }

    #magic-toc {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 320px;
    }

}
