html, body {
	margin: 0;
	padding: 0;
	
	font-family: "Roboto", "Droid Sans", "Helvetica", sans-serif;
	font-size: 14px;
}


header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 69px;
}

.toolbar {
	height: 45px;
	width: 100%;
	padding: 0;
	color: white;
	background: black;
	/* needed on Android 2.3 */ background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3E3E3E), color-stop(14%,#393939), color-stop(32%,#2E2E2E), color-stop(64%,#151515), color-stop(84%,#080808), color-stop(100%,#000000));
    background-image: -webkit-linear-gradient(top, #3E3E3E 0%,#393939 14%,#2E2E2E 32%,#151515 64%,#080808 84%,#010101 100%);
    background-image: -moz-linear-gradient(top, #3E3E3E 0%,#393939 14%,#2E2E2E 32%,#151515 64%,#080808 84%,#010101 100%);
    background-image: -ms-linear-gradient(top, #3E3E3E 0%,#393939 14%,#2E2E2E 32%,#151515 64%,#080808 84%,#010101 100%);
    background-image: -o-linear-gradient(top, #3E3E3E 0%,#393939 14%,#2E2E2E 32%,#151515 64%,#080808 84%,#010101 100%);
}

.toolbar button {
	-webkit-appearance: none;
	-moz-appearance: none;

	position: relative;
	padding: 0;
	margin: 0;
	
	width: 64px;
	height: 44px;
	
	border: none;
	background: none;
	color: white;
	
	overflow: hidden;
}

.toolbar button.active {
	background-color: #0e43b5;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3963c0), color-stop(100%, #0e43b5));
	background-image: -webkit-linear-gradient(top, 0% #3963c0, 100%, #0e43b5);
	background-image: -moz-linear-gradient(top, 0% #3963c0, 100%, #0e43b5);
	background-image: -ms-linear-gradient(top, 0% #3963c0, 100%, #0e43b5);
	background-image: -o-linear-gradient(top, 0% #3963c0, 100%, #0e43b5);
}

.toolbar > button > span {
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	bottom: 2px;
}

.langbar {
	overflow: hidden;
	font-size: 13px;
	padding: 1px 4px;
	background: white;
}

.langbar span {
	color: #0645ad;
}

.langbar span.selected {
	color: black;
	font-weight: bold;
	background: #e6e8fa !important;
	border: solid 1px #0645ad !important;
	border-radius: 2px;
}

#lang-selector {
	position: relative;
	top: -2em;
	width: 100%;
	opacity: 0;
}


/* Menu pane contains the popup menus, and takes background click events to clear */
#menu-pane {
	position: absolute;
	top: 44px;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 0;
}

.menu {
	display: none;
	
	position: absolute;
	top: 0px;
	
	background: black;
	background-image: url(menu-arrow.png);
	background-repeat: no-repeat;
	background-position: top center;
	color: white;
	
	border: solid 2px #323232;
	border-top: none;
	padding: 12px;
	margin: 0;
	
	box-shadow: 2px 5px 5px #888;
}

.menu li {
	font-size: 13px;
	height: 48px;
	list-style: none;
	padding-left: 40px;
	padding-right: 12px;
}

.menu li a {
	display: inline-block;
	height: 48px;
	padding-top: 16px;
}


#article-menu {
	left: 32px;
}
#you-menu {
	left: 64px;
}
#contribute-menu {
	left: 160px;
}

#search-menu {
	left: 212px;
}





#content {
	margin-top: 69px;
}



/** Toolbar icons */

.toolbar button {
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: top center;
}

#menu-wiki {
	background-image: url(images/toolbar/wikipedia.png);
}

#menu-article {
	background-image: url(images/toolbar/article.png);
}

#menu-you {
	background-image: url(images/toolbar/user.png);
}

#menu-contribute {
	background-image: url(images/toolbar/pencil.png);
}

#menu-search {
	background-image: url(images/toolbar/magglass.png);
}


/** Site menu */

.menu li {
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: center left;
}

#menu-main-page {
	background-image: url(images/menu/wikipedia.png);
}

#menu-featured-content {
	background-image: url(images/menu/trophy.png);
}

#menu-recent-changes {
	background-image: url(images/menu/hourglass.png);
}

#menu-random-article {
	background-image: url(images/menu/die.png);
}

/** Article menu */

#menu-history {
	background-image: url(images/menu/history.png);
}

#menu-discussion {
	background-image: url(images/menu/discussion.png);
}

#menu-whatlinkshere {
	background-image: url(images/menu/discussion.png);
}


/** You menu */

#menu-self {
	background-image: url(images/menu/user.png);
}

#menu-your-notifications {
	background-image: url(images/menu/notifications.png);
}

#menu-your-talk {
	background-image: url(images/menu/discussion.png);
}

#menu-your-watchlist {
	background-image: url(images/menu/watchlist.png);
}

#menu-your-contribs {
	background-image: url(images/menu/pencil.png);
}

#menu-your-preferences {
	background-image: url(images/menu/gear.png);
}

#menu-log-out {
	background-image: url(images/menu/key.png);
}
